<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="recruiternav1.css">
    <link rel="stylesheet" href="recriter.css">
    <link rel="stylesheet" href="response.css">
    <link rel="stylesheet" href="response1.css">
    <link rel="stylesheet" href="response2.css">
    <link rel="stylesheet" href="response3.css">
    <link rel="stylesheet" href="response4.css">
    <script defer src="recriter1.js"></script>
    <title>Recruiter</title>
</head>
<body>
    <div class="parent">
        <div class="r-left">
            <nav class="left-nav">
                <div class="nav-div">
                    <a href="#" class="active" id="close-menu"><i class="fa-solid fa-chevron-left"></i>CLOSE</a>
                </div>
                <div class="nav-div-hide">
                    <a href="#" class="active" id="open-menu"><i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </nav>
            
            <div class="left-down">
                <div class="l-box-div">
                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-suitcase"></i> Post or job  
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-suitcase"></i> 
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-regular fa-id-card"></i> Canditates 
                            </div>
                            <i class="fa-solid fa-caret-right"></i>                         
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-regular fa-id-card"></i>
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-magnifying-glass-location"></i> Open search
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass-location"></i> 
                        </a>
                    </div>
                    

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-building-user"></i> On Boarding
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-building-user"></i> 
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-user-pen"></i> Admin control
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-user-pen"></i> 
                        </a>
                    </div>

                    <div class="box-1">
                        <a href="#">
                            <div class="p">
                                <i class="fa-solid fa-users-gear"></i> empolyee info
                            </div>
                            <i class="fa-solid fa-caret-right"></i>
                        </a>
                        
                    </div>
                    <div class="box-1-hide">
                        <a href="#">
                            <i class="fa-solid fa-users-gear"></i> 
                        </a>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="r-right">
            <header class="header">
                <div class="navbar">
                    <nav>
                        <ul class="menu">
                            <div class="logo-div">
                                <li class="logo">
                                    
                                    <a href="#"><img src="p2.png" alt="Placeme Logo" style="height: 30px;"></a>
                                </li>
                                
                                
                                
                                
                            </div>
                            <div class="last-div">
                                <!-- <div class="item">
                                    <li><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-bell"></i>Notifications</a></li>
                                </div> -->
                                <div class="item-div-1">
                                    <li class="item button">
                                        <a href="#" >
                                            Recruiter Company name
                                        </a>
                                        
                                    </li>
                                </div>
                                <div class="item-div">
                                    <li class="item button"><a href="#"><i class="fa-solid fa-bell"></i> 
                                        Notifications</a></li>
                                </div>
                                <div class="item-div">
                                    <li class="item button"><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-user"></i> 
                                        Profile</a></li>
                                </div>
                                
                                
                                
                            </div>
                            <div class="item-div-menu" >
                                <li class="item button">
                                    <a>
                                        <i class="fa-solid fa-bars" id="mobile-menu-open"></i>
                                        <i class="fa-solid fa-xmark" id="mobile-menu-close"></i>
                                    </a>
                                </li>
                            </div>
                            
                            
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="r-right-down">
                <div class="r-right-menu" id="mobile-menu-box">
                    <div class="box-1-menu">
                        <a href="#">
                            <p>Recruiter Company name</p>
                        </a>
                    </div>
                    <div class="box-2-menu">
                        <a href="#">
                            <!-- <i class="fa-solid fa-bell"></i>  -->
                            <p>Notifications</p></a>
                    </div>
                    <div class="box-3-menu">
                        <a href="#">
                            <!-- <i class="fa-solid fa-user"></i>  -->
                            <p>profile</p>
                        </a>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    
</body>
</html>